<h1>Cheeses</h1>

<a href="/cheeses/new" class="button button-primary">Add a cheese</a>

<main class='container'>
  <div class="row">
    <ul class='list-group col-12'>
      <div class="row">
        <% cheeses.forEach((cheese) => { %>
          <li class="hovereffect list-group-item col-lg-4 col-12">
          <img class="img-fluid img-thumbnail col-12" src ="<%= cheese.image %>" alt="<%= cheese.name %>">
          <div class="overlay">
          <a href="/cheeses/<%= cheese.id %>"<h2><%= cheese.name %></h2></a>
          <h2><%= cheese.name %></h2>
          <div class="info">
          <h5><span><%= cheese.country %></span> -
          <span><%= cheese.region %></span></h5>
          <p><%= cheese.tastingNotes %></p>
          </div>
          </div>
            </li>
            <% }); %>
          </div>
        </ul>
      </div>
    </main>
