<a href="/cheeses/new" class="button button-primary add-button">Add a cheese</a>

<main class='container'>
  <div class="row">
    <ul class='list-group col-12'>
      <div class="row">
        <% cheeses.forEach((cheese) => { %>
          <li class="hovereffect list-group-item col-lg-4 col-12">
            <img class="img-fluid img-thumbnail col-12" src ="<%= cheese.image %>" alt="<%= cheese.name %>">
            <a href="/cheeses/<%= cheese.id %>">
              <div class="overlay">
                <h2><%= cheese.name %></h2>
                <div class="info">
                  <h5><span><%= cheese.country %></span> -
                  <span><%= cheese.region %></span></h5>
                  <p><%= cheese.tastingNotes %></p>
                </div>
              </a>
            </div>
          </li>
        <% }); %>
      </div>
    </ul>
  </div>
</main>
