<div class="container">
  <div class="row">
    <div class="col-6">
      <% if(locals.isLoggedIn && cheese.belongsTo(user)) { %>
        <a href="/cheeses/<%= cheese.id%>/edit" class="btn btn-warning">Edit</a>
        <% } %>
        <% if(locals.isLoggedIn && cheese.belongsTo(user)) { %>
          <form method="POST" action="/cheeses/<%= cheese.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-outline-warning">Delete</button>
          </form>
          <% } %>
          <img src ="<%= cheese.image %>" alt="<%= cheese.name %>">
              </div>
        <div class="col-6">
          <h1><%= cheese.name %></h1>
          <p><%= cheese.region %> - <%= cheese.country %></p>
          <p><%= cheese.milk %>'s milk</p>
          <p><%= cheese.producer.name %> - <%= cheese.producer.address.line1 %> - <%= cheese.producer.address.city %> - <%= cheese.producer.address.postcode %></p>
          <p><%= cheese.tastingNotes %></p>
          <p>Rating: <%= cheese.rating %></p>
          </div>
        </div>
      </div>
