<div class='container'>
  <div class="row">
    <div class='col-4'>
      <div id="carouselWineControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% wines.forEach((wine, index) => { %>
            <% if(index === 0) { %>
              <div class="carousel-item active wine" >
              <img class="d-block w-100" src="<%= wine.image %>" alt="<%= wine.name %>">
              <div class="carousel-caption d-none d-md-block">
              <h2 class= "sr-only wineIdNext"><%= wines[1].id %></h2>
              <h2 class= "sr-only wineIdPre"><%= wines[(wines.length - 1)].id %></h2>
              </div>
              <h2><%= wine.name %></h2>
              </div>
              <% } else if (index + 1 === wines.length) { %>
                <div class="carousel-item wine" >
                <img class="d-block w-100" src="<%= wine.image %>" alt="<%= wine.name %>">
                <div class="carousel-caption d-none d-md-block">
                <h2 class= "sr-only wineIdNext"><%= wines[0].id %></h2>
                <h2 class= "sr-only wineIdPre"><%= wines[(wines.length - 2)].id %></h2>
                </div>
                <h2><%= wine.name %></h2>
                </div>
              <% } else { %>
                <div class="carousel-item wine">
                <img class="d-block w-100" src="<%= wine.image %>" alt="<%= wine.image %>">
                <div class="carousel-caption d-none d-md-block">
                <h2 class= "sr-only wineIdNext"><%= wines[(index+1)].id %></h2>
                <h2 class= "sr-only wineIdPre"><%= wines[(index-1)].id %></h2>
                </div>
                <h2><%= wine.name %></h2>
                </div>
                <% }; %>
                <%}); %>
              </div>
              <a class="carousel-control-prev" href="#carouselWineControls" role="button" data-slide="prev" id="wine-pre">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselWineControls" role="button" data-slide="next" id="wine-next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-4">
            <div id="carouselCheeseControls" class="carousel slide" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
              <% cheeses.forEach((cheese, index) => { %>
                <% if(index === 0) { %>
                  <div class="carousel-item active cheese" >
                  <img class="d-block w-100" src="<%= cheese.image %>" alt="<%= cheese.name %>">
                  <div class="carousel-caption d-none d-md-block">
                  <h2 class= "sr-only cheeseIdNext"><%= cheeses[1].id %></h2>
                  <h2 class= "sr-only cheeseIdPre"><%= cheeses[(cheeses.length - 1)].id %></h2>
                  </div>
                  <h2><%= cheese.name %></h2>
                  </div>
                  <% } else if (index + 1 === cheeses.length) { %>
                    <div class="carousel-item cheese" >
                    <img class="d-block w-100" src="<%= cheese.image %>" alt="<%= cheese.name %>">
                    <div class="carousel-caption d-none d-md-block">
                    <h2 class= "sr-only cheeseIdNext"><%= cheeses[0].id %></h2>
                    <h2 class= "sr-only cheeseIdPre"><%= cheeses[(cheeses.length - 2)].id %></h2>
                    </div>
                    <h2><%= cheese.name %></h2>
                    </div>
                  <% } else { %>
                    <div class="carousel-item cheese">
                    <img class="d-block w-100" src="<%= cheese.image %>" alt="<%= cheese.image %>">
                    <div class="carousel-caption d-none d-md-block">
                    <h2 class= "sr-only cheeseIdNext"><%= cheeses[(index+1)].id %></h2>
                    <h2 class= "sr-only cheeseIdPre"><%= cheeses[(index-1)].id %></h2>
                    </div>
                    <h2><%= cheese.name %></h2>
                    </div>
                    <% }; %>
                    <%}); %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselCheeseControls" role="button" data-slide="prev" id="cheese-pre">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselCheeseControls" role="button" data-slide="next" id="cheese-next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <div class="col-4">
                <form class="form-group mx-auto" style="width: 500px" method="POST" action="/pairs">
                  <label for="wine" class="sr-only">Wine</label>
                  <select class="form-control sr-only" name="wine" id="wine">
                    <% wines.forEach((wine) => { %>
                      <option id="selectedWine" value="<%= wine.id %>"> <%= wine.name %> </option>
                      <% }); %>
                    </select>

                    <label for="cheese" class="sr-only"">Cheese</label>
                    <select class="form-control sr-only"" name="cheese" id="cheese">
                      <% cheeses.forEach((cheese) => { %>
                        <option value="<%= cheese.id %>"> <%= cheese.name %> </option>
                        <% }); %>
                      </select>

                      <div>
                        <label for="description"></label>
                        <textarea class="form-control" name="description" placeholder="Create a pairing below and describe why you love it. Then pair them up!"></textarea>
                      </div>

                      <button class="btn btn-info">Pair them up!</button>
                    </form>



              </div>
              </div>
            </div>
