<div class='container'>
  <div class="row">
    <div class='col-4'>
      <div id="carouselWineControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
          <% wines.forEach((wine, index) => { %>
            <% if(index === 0) { %>
              <div class="carousel-item active wine" >
              <img class="d-block w-100" src="<%= wine.image %>" alt="<%= wine.name %>">
              <div class="carousel-caption d-none d-md-block">
              <h2 class= "sr-only wineIdNext"><%= wines[1].id %></h2>
              <h2 class= "sr-only wineIdPre"><%= wines[(wines.length - 1)].id %></h2>
              </div>
              </div>
              <% } else if (index + 1 === wines.length) { %>
                <div class="carousel-item wine" >
                <img class="d-block w-100" src="<%= wine.image %>" alt="<%= wine.name %>">
                <div class="carousel-caption d-none d-md-block">
                <h2 class= "sr-only wineIdNext"><%= wines[0].id %></h2>
                <h2 class= "sr-only wineIdPre"><%= wines[(wines.length - 2)].id %></h2>
                </div>
                </div>
              <% } else { %>
                <div class="carousel-item wine">
                <img class="d-block w-100" src="<%= wine.image %>" alt="<%= wine.image %>">
                <div class="carousel-caption d-none d-md-block">
                <h2 class= "sr-only wineIdNext"><%= wines[(index+1)].id %></h2>
                <h2 class= "sr-only wineIdPre"><%= wines[(index-1)].id %></h2>
                </div>
                </div>
                <% }; %>
                <%}); %>
              </div>
              <a class="carousel-control-prev" href="#carouselWineControls" role="button" data-slide="prev" id="wine-pre">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselWineControls" role="button" data-slide="next" id="wine-next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-4">
            <div id="carouselCheeseControls" class="carousel slide" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
              <% cheeses.forEach((cheese, index) => { %>
                <% if(index === 0) { %>
                  <div class="carousel-item active cheese" >
                  <img class="d-block w-100" src="<%= cheese.image %>" alt="<%= cheese.name %>">
                  <div class="carousel-caption d-none d-md-block">
                  <h2 class= "sr-only cheeseIdNext"><%= cheeses[1].id %></h2>
                  <h2 class= "sr-only cheeseIdPre"><%= cheeses[(cheeses.length - 1)].id %></h2>
                  </div>
                  </div>
                  <% } else if (index + 1 === cheeses.length) { %>
                    <div class="carousel-item cheese" >
                    <img class="d-block w-100" src="<%= cheese.image %>" alt="<%= cheese.name %>">
                    <div class="carousel-caption d-none d-md-block">
                    <h2 class= "sr-only cheeseIdNext"><%= cheeses[0].id %></h2>
                    <h2 class= "sr-only cheeseIdPre"><%= cheeses[(cheeses.length - 2)].id %></h2>
                    </div>
                    </div>
                  <% } else { %>
                    <div class="carousel-item cheese">
                    <img class="d-block w-100" src="<%= cheese.image %>" alt="<%= cheese.image %>">
                    <div class="carousel-caption d-none d-md-block">
                    <h2 class= "sr-only cheeseIdNext"><%= cheeses[(index+1)].id %></h2>
                    <h2 class= "sr-only cheeseIdPre"><%= cheeses[(index-1)].id %></h2>
                    </div>
                    </div>
                    <% }; %>
                    <%}); %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselCheeseControls" role="button" data-slide="prev" id="cheese-pre">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselCheeseControls" role="button" data-slide="next" id="cheese-next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>


            <form class="form-group" method="POST" action="/pairs">
              <label for="wine">Wine</label>
              <select class="form-control" name="wine" id="wine">
                <% wines.forEach((wine) => { %>
                  <option id="selectedWine" value="<%= wine.id %>"> <%= wine.name %> </option>
                  <% }); %>
                </select>

                <label for="cheese">Cheese</label>
                <select class="form-control" name="cheese" id="cheese">
                  <% cheeses.forEach((cheese) => { %>
                    <option value="<%= cheese.id %>"> <%= cheese.name %> </option>
                    <% }); %>
                  </select>

                  <div>
                    <label for="description">Why do you love this pairing?</label>
                    <textarea class="form-control" name="description"></textarea>
                  </div>

                  <button class="btn btn-primary">Create</button>
                </form>
