<a href="/wines/new" class="button button-primary btn btn-info">Add a wine</a>

<main class='container'>
  <div class="row">
    <ul class='list-group col-12'>
      <div class="row">
        <% wines.forEach((wine) => { %>
          <li class="hovereffect list-group-item col-lg-4 col-12">
            <img class="img-fluid img-thumbnail col-12" src ="<%= wine.image %>" alt="<%= wine.name %>">
            <a href="/wines/<%= wine.id %>">
              <div class="overlay">
                <h2><%= wine.name %></h2>
                <div class="info">
                  <h5><span><%= wine.country %></span> -
                  <span><%= wine.region %></span> -
                  <span><%= wine.grape %></span> -
                  <span><%= wine.vintage %></span></h5>
                  <p><%= wine.tastingNotes %></p>
                </div>
              </a>
            </div>
          </li>
        <% }); %>
      </div>
    </ul>
  </div>
</main>
