<h1>All the wines!</h1>

<a href="/wines/new" class="button button-primary">Add a wine</a>

<main class='container'>
  <div class="row">
    <ul class='list-group col-12'>
      <div class="row">
        <% wines.forEach((wine) => { %>
          <li class="list-group-item col-lg-4 col-12">
          <img class="img-fluid img-thumbnail col-12" src ="<%= wine.image %>" alt="<%= wine.name %>">
          <a href="/wines/<%= wine.id %>"<h2><%= wine.name %></h2></a>
          <h4><%= wine.country %></h4>
          <span><%= wine.region %></span>
          <span><%= wine.grape %></span>
          <p><%= wine.vintage %></p>
          <p><%= wine.tastingNotes %></p>
          <p><% wine.pairings.forEach((pairing) => { %>
            <span ><%= pairing %></span>
            <% }) %></p>
            </li>
            <% }); %>
          </div>
        </ul>
      </div>
    </main>
