<div class="container">
  <div class="row">
    <div class="col-6">
      <% if(locals.isLoggedIn && wine.belongsTo(user)) { %>
        <a href="/wines/<%= wine.id%>/edit" class="btn btn-danger">Edit</a>
        <% } %>
        <% if(locals.isLoggedIn && wine.belongsTo(user)) { %>
          <form method="POST" action="/wines/<%= wine.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-outline-danger">Delete</button>
          </form>
          <% } %>
          <img src ="<%= wine.image %>" alt="<%= wine.name %>">
        </div>
        <div class="col-6">
          <h1><%= wine.name %></h1>
          <p><%= wine.style %> - <%= wine.vintage %> - <%= wine.grape %> - <%= wine.region %> - <%= wine.country %></p>
          <p><%= wine.producer.name %> - <%= wine.producer.address.line1 %> - <%= wine.producer.address.city %> - <%= wine.producer.address.postcode %></p>
          <p><%= wine.tastingNotes %></p>
          <p>Rating: <%= wine.rating %></p>
        </div>
      </div>
    </div>
